<footer class="mt-wrap">
  <section class="mt-section">
      <div class="coop-l-grid">
          <div class="coop-l-grid__item coop-l-grid__item--small-12 coop-l-grid__item--large-4">
              <p>&copy; Matt Tyas {% year %}</p>
          </div>
          <div class="coop-l-grid__item coop-l-grid__item--small-12 coop-l-grid__item--large-8">
              <p>Last updated {{ site.buildTime | dateDisplay('LLL d, yyyy') }}</p>
          </div>
      </div>
  </section>
  
</footer>
