<header class="mt-header">
    <h1 class="mt-h1">
        <a class="mt-logo mt-nav__item" aria-label="Go to the homepage" href="/">
            <img src="/images/matt-header.svg" class="mt-computer" width="100" alt="A cartoon of Matt">
            {{ title }}
        </a>
    </h1>
    <nav class="mt-nav">
        <a class="mt-nav__item" aria-label="Go to the homepage" href="#about">
            About
        </a>
        <a class="mt-nav__item" aria-label="Go to the homepage" href="#work">
            Work
        </a>
        <a class="mt-nav__item" aria-label="Go to the homepage" href="#writing">
            Writing
        </a>
        <a class="mt-nav__item" aria-label="Go to the homepage" href="#contact">
            Contact
        </a>
    </nav>
</header>
