<!doctype html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon.ico" sizes="any"><!-- 32×32 -->
    <link rel="icon" href="/images/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png"><!-- 180×180 -->
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{ title }}</title>
  </head>
  <body>
    {% include "header.njk" %}
    <main id="main" class="mt-main">
      {{ content | safe }}
    </main>
    {% include "footer.njk" %} 
  </body>
</html>
