---
title: Matt.Tyas.fyi
layout: layouts/base.njk
---

<section class="mt-section mt-section--bg">
  <div class="coop-l-grid">
    <div
      class="coop-l-grid__item coop-l-grid__item--small-12 coop-l-grid__item--medium-4 coop-l-grid__item--large-4"
    >
      <div class="mt-portrait">
        <img src="images/matt-tyas.svg" class="mt-me" alt="A cartoon of Matt" />
      </div>
    </div>
    <div
      class="coop-l-grid__item coop-l-grid__item--small-12 coop-l-grid__item--medium-6 coop-l-grid__item--large-6 mt-stacking"
    >
      <h1 class="mt-p-lead">I lead design.<br>I do design.</h1>
      <p class="mt-p-sub">Twelve years at Co&#8209;op, four as Head of Design. Twenty years across enterprise, agency, higher education and co&#8209;founder of Manchester's Finest.</p>

      <div class="mt-banner">
      <img
        src="images/matt-tyas-open-to-work.png"
        width="400"
        height="400"
        class="mt-banner__image"
        alt="Matt speaking at an event in front of a slide reading &lsquo;Your design system is made of people&rsquo;, with an Open To Work badge"
      />
      <div class="mt-banner__body">
        <p class="mt-banner__title">I&rsquo;m open to work</p>
        <p>I&rsquo;m looking for my next design leadership role.</p>
        <p><a href="#contact">Get in touch</a></p>
      </div>
    </div>
    </div>
        
  </div>
</section>
<div class="mt-case-study">
<section class="mt-section">
  <div class="coop-l-grid">
    <div
      class="coop-l-grid__item coop-l-grid__item--small-12 coop-l-grid__item--large-4 mt-section-bg-repeater"
    >
      <img
        src="images/matt-head.svg"
        width="100"
        class="mt-icon"
        alt="A cartoon of Matt's head'"
      />
    </div>
    <div
      class="coop-l-grid__item coop-l-grid__item--small-12 coop-l-grid__item--large-8"
    >
      <div class="mt-text">
        <h2 id="about">About</h2>
        <p>I lead design across the full spectrum of the craft: service design, user research, content design, interaction and product design. I have stayed hands on throughout. I still prototype, write code and observe users. I am an enquisitive person who likes to make things.</p>
        <p>Most of what I am proud of took determination. The Co-op Experience Library started with no mandate and no budget and is now the foundation of the platform the organisation builds on.</p>
        <p>I co-founded Manchester's Finest. The biggest most trusted platform that exists to support the best independents the city has to offer. It is a live, profitable, commercial product. It has taught me more about experience as a driver of value than theory ever has.</p>
        <p>I build and scale people-first, high-performing, psychologically safe teams, creating experiences that drive commercial and user-centred outcomes.</p>
        <p>I believe in:</p>
        <ul>
          <li>outcome based visions that align to customer and business needs that empower teams to solve problems, not just deliver</li>
          <li>using researched based design to achieve user and business goals</li>
          <li>prototyping in code and showing users early and often</li>
          <li>the power of systems, technology and efficiency to empower teams to innovate and make better decisions</li>
          <li>collaboration and communication to create the best outcomes</li>
        </ul>
        <img
          src="images/coop-logo-white.svg"
          width="60"
          class="mt-work-logo"
          alt="The Co-op logo"
        />
        <h3>Head of Design, the Co-op</h3>
        <p>
          As Head of Design I am responsible for leading the design team and
          design strategy at Co-op. I was previously a Principal Designer
          responsible for the Co-op Experience Library.
        </p>
        <p>
          <a href="https://coop.co.uk/experience-library">Visit the Co-op Experience Library</a>
        </p>
        <img
          src="images/manchesters-finest.svg"
          class="mt-work-logo"
          width="400"
          alt="Manchester's Finest logo"
        />
        <h3>Co-founder and Product Director, Manchester&rsquo;s Finest&nbsp;Group</h3>
        <p>
          Manchester’s Finest is an independent digital media and marketing
          company based in the Northern Quarter. We deliver creative content and
          experiences to Manchester and wider audiences. We aim to promote the
          very best the city has to offer.
        </p>
        <p>
          <a href="https://manchestersfinest.com/">Visit manchestersfinest.com</a>
        </p>
      </div>
    </div>
  </div>
</section>
<section class="mt-section">
  <div class="coop-l-grid">
    <div
      class="coop-l-grid__item coop-l-grid__item--small-12 coop-l-grid__item--large-4 mt-section-bg-repeater"
    >
      <img
        src="images/matt-work.svg"
        width="120"
        class="mt-icon"
        alt="A cartoon of Matt as a computer"
      />
    </div>
    <div
      class="coop-l-grid__item coop-l-grid__item--small-12 coop-l-grid__item--large-8"
    >
      <h2 id="case-studies">Case studies</h2>
      <div class="mt-text">
        {% for study in collections.caseStudies %}
        <article class="mt-case-link">
          <a class="mt-case-link__title" href="{{ study.url }}">{{ study.data.title | safe }}</a>
          {% if study.data.client %}
          <p class="mt-case-link__meta">{{ study.data.client }}</p>
          {% endif %}
        </article>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<section class="mt-section">
  <div class="coop-l-grid">
    <div
      class="coop-l-grid__item coop-l-grid__item--small-12 coop-l-grid__item--large-4 mt-section-bg-repeater"
    >
      <img
        src="images/matt-sketch.svg"
        width="100"
        class="mt-icon"
        alt="A cartoon of Matt as a pencil"
      />
    </div>
    <div
      class="coop-l-grid__item coop-l-grid__item--small-12 coop-l-grid__item--large-8"
    >
      <h2 id="writing">Writing</h2>
      <div class="mt-text">
        <article class="mt-blog-post">
          <a
            href="https://digitalblog.coop.co.uk/2026/06/08/exploring-the-role-of-ai-in-our-design-process-at-co-op/"
          >
            Exploring the role of AI in our design process at Co&#8209;op
          </a>
        </article>
        <article class="mt-blog-post">
          <a
            href="https://digitalblog.coop.co.uk/2024/06/05/bringing-teams-closer-together-with-a-service-jam/"
          >
            Bringing teams closer together with a service jam
          </a>
        </article>
        <article class="mt-blog-post">
          <a
            href="https://digitalblog.coop.co.uk/2024/02/26/how-user-centred-design-reduces-risk-for-colleagues-and-our-co-op/"
          >
            How user-centred design reduces risk for colleagues and our&nbsp;Co&#8209;op 
          </a>
        </article>
        <article class="mt-blog-post">
          <a
            href="https://digitalblog.coop.co.uk/2021/11/08/introducing-the-co-op-experience-library/"
          >
            Introducing the Co-op Experience Library
          </a>
        </article>
        <article class="mt-blog-post">
          <a
            href="https://digitalblog.coop.co.uk/2021/04/19/using-a-brand-sprint-to-kick-start-the-reinvention-of-co-ops-design-system/"
          >
            Using a brand sprint to kick start the reinvention of Co&#8209;op’s design&nbsp;system
          </a>
        </article>
        <article class="mt-blog-post">
          <a
            href="https://digitalblog.coop.co.uk/2020/10/15/how-dividing-into-smaller-teams-has-improved-delivery/"
          >
            How dividing into smaller delivery teams has improved delivery
          </a>
        </article>
        <article class="mt-blog-post">
          <a
            href="https://medium.com/@MattTyas/im-a-principal-designer-what-do-i-do-137be7009428"
          >
            I’m a Principal Designer – what do I do?
          </a>
        </article>
        <article class="mt-blog-post">
          <a
            href="https://medium.com/@MattTyas/writing-is-for-clever-people-with-thoughtful-opinions-not-silly-people-like-me-806974d7e7b1"
          >
            Writing is for clever people with thoughtful opinions — not silly
            people like me
          </a>
        </article>
        <article class="mt-blog-post">
          <a
            href="https://digitalblog.coop.co.uk/2019/11/07/building-trust-in-the-co-op-design-system-through-weekly-hacks/"
          >
            Building trust in the Co-op design system through weekly hacks
          </a>
        </article>
        <article class="mt-blog-post">
          <a
            href="https://digitalblog.coop.co.uk/2018/07/26/from-digital-design-manual-to-design-system/"
          >
            From digital design manual to design system
          </a>
        </article>
        <article class="mt-blog-post">
          <a
            href="https://digitalblog.coop.co.uk/2017/08/17/weve-added-tables-to-our-design-manual/"
          >
            We’ve added tables to our design manual
          </a>
        </article>
        <article class="mt-blog-post">
          <a
            href="https://digitalblog.coop.co.uk/2017/01/26/weve-released-coop-co-ukdesignmanual/"
          >
            We’ve released coop.co.uk/designmanual
          </a>
        </article>
        <article class="mt-blog-post">
          <a
            href="https://digitalblog.coop.co.uk/2016/06/29/finding-our-way-with-a-co-op-design-system/"
          >
            Finding our way with a Co-op design system
          </a>
        </article>
        <article class="mt-blog-post">
          <a
            href="https://digitalblog.coop.co.uk/2016/05/05/what-browsers-and-devices-we-support/"
          >
            What browsers and devices we support
          </a>
        </article>
        <article class="mt-blog-post">
          <a
            href="https://digitalblog.coop.co.uk/2015/10/23/exciting-times-and-why-i-joined-co-op-in-the-first-place/"
          >
            Exciting times (and why I joined Co-op in the first place)
          </a>
        </article>
      </div>
    </div>
  </div>
</section>
<section class="mt-section mt-section--last">
  <div class="coop-l-grid">
    <div
      class="coop-l-grid__item coop-l-grid__item--small-12 coop-l-grid__item--large-4"
    >
      <img
        src="images/matt-phone.svg"
        width="120"
        class="mt-icon"
        alt="A cartoon of Matt as a phone"
      />
    </div>
    <div
      class="coop-l-grid__item coop-l-grid__item--small-12 coop-l-grid__item--large-8"
    >
      <h2 id="contact">Contact</h2>
      <div class="mt-text">
        <p>You can find me on:</p>
        <ul>
          <li><a href="mailto:matt.tyas@gmail.com">matt.tyas@gmail.com</a></li>
          <li><a href="https://www.linkedin.com/in/matthew-tyas">linkedin.com/in/matthew-tyas</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
